<mat-card class="example-card">
    <mat-card-header class="mat-card-header">
      <mat-card-title class="mat-card-title">{{ passport?.address +", "+ passport?.city }}</mat-card-title>
      
    </mat-card-header>

    <mat-card-content class="mat-card-content">

      <p>
            {{ passport?.energyClass }}
      </p>
      
      <p>
        {{passport?.description}}
      </p>

      <p>
        {{passport?.buildingCategory}}
      </p>

      <p>
        {{passport?.constructionYear}}
      </p>

      <p>
        {{passport?.area}}
      </p>

      <p>
        {{passport?.annualHeatingNeed}}
      </p>

      <p>
        {{passport?.heatingType}}
      </p>

      <p>
        {{energySourcesString}}
      </p>

      <p>
        {{passport?.ventilation}}
      </p>
  
      <p>
        {{passport?.hotWater}}
      </p>
  
      <p>
        {{passport?.coolingType}}
      </p>
  
      <p>
        {{passport?.totalFloors}}
      </p>
  
      <p>
        {{passport?.CO2Emission}}
      </p>
  
    </mat-card-content>
  
    <mat-card-actions>
      <div *ngIf="isMine" class="controls">
        <button mat-raised-button color="primary" (click)="editPassport()">
          Edit
        </button>
        <button mat-raised-button color="primary" (click)="deletePassport()">
          Delete
        </button>


        <button mat-raised-button color="primary" (click)="getSuggestion()">
          Get suggestion 
        </button>

      </div>
    </mat-card-actions>

  </mat-card>