<mat-card class="example-card">
    <mat-card-header class="mat-card-header">
      <mat-card-title class="mat-card-title">Passport</mat-card-title>
      <mat-card-subtitle class="mat-card-subtitle">{{passport?.owner!.name+" "+passport?.owner?.surname+" ("+passport?.owner?.email+")"}}</mat-card-subtitle>
         
    </mat-card-header>
    <mat-card-content class="mat-card-content">
      <div *ngIf="passport && getObjectKeys(passport).length > 0">
        <div *ngFor="let key of getObjectKeys(passport)">
          <div class="shower" *ngIf="passport[key] !== null && passport[key] !== '' && key!=='owner' && key!=='_id' && key!=='__v' &&key!=='isPrivate'">
            <div>{{ camelCaseToTitleCase(key) }}:</div>
            <div>{{ passport[key] }}</div>
          </div>
        </div>
      </div>
    </mat-card-content>
  
    <mat-card-actions>
      <div *ngIf="isMine" class="controls">
        <button mat-raised-button color="primary" class="ctrlb" (click)="editPassport()">
          Edit
        </button>
        <button mat-raised-button color="primary" class="ctrlb" (click)="deletePassport()">
          Delete
        </button>
        <button mat-raised-button color="primary" class="ctrlb" (click)="getSuggestion()">
          Get suggestion 
        </button>

      </div>
    </mat-card-actions>

  </mat-card>